<!-- <div class="container">
	<h1><%- shop.shopId %> </h1>
	<h1><%- shop.shop_name %> </h1>
	<h3><%- shop.shop_desc %> </h3>
	<h3><%- shop.shop_category %> </h3>

	<h3><% if(shop.shopStatus) { %>
			Active
			<% } else { %>
				Inactive
			<% } %>
	<hr></h3>

	<a href="/shop/edit/<%= shop.shopId %>" class="btn btn-medium btn-primary"> Edit </a>

</div> -->