<div class="container" style="margin-top:20px;padding: 0px 30px 0px 30px">

    <h2>Latest Shop</h2>
   <div id="latestShop">
		<% _.each(shop,function(shop){ %>
		<div>
				<strong>Shop Name:<a href="../../shop/<%=shop['id'] %>/product"><%= shop['shop_name'] %></a></strong><br>
				<em>Brief Description:<%= shop['shop_desc'] %></em><br>
				<a href="#" class="btn btn-success"><span class="badge pull-right">2</span>Subscribe</a>
				<a href="../../shop/<%=shop['id'] %>/product" class="btn btn-warning"><span class="badge pull-right">4</span>View Products</a>
		</div>

	<% }) %>
	
	</div>
</div>
	

		<div class="vm-boder-bot" "col-md-3" style="margin-left:200px;margin-right:220px;"></div>
		<div class="vm-boder-bot" "col-md-3" style="margin-left:200px;margin-right:220px;"></div>

<div class="container" style="margin-top:-20px;padding: 0px 30px 0px 30px">

            <div class="row">
                        <h2>All Shops</h2>
                        <div id="latestShop">
                        <% _.each(shop,function(shop)
                        { %>
                        
								<div>
									
									<strong>Shop Name:<a href="../../shop/<%=shop['id'] %>/product"><%= shop['shop_name'] %></a></strong><br>
									<em>Brief Description:<%= shop['shop_desc'] %></em><br>
									<a href="#" class="btn btn-success fa fa-envelope-o">Subscribe</a>
									<a href="../../shop/<%=shop['id'] %>/product" class="btn btn-warning">View Products</a>

								</div>

						<% }) %>
						</div>
						</div>

                        
                        <div class="vm-boder-bot" "col-md-3"></div> 
                       <div style="padding-top: 10px;"><span class="vm-filterSectionHead">Categories</span>
                       </div>
                        
                    
</div>
